<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NER and POS Tagging Service</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome to NER and POS Tagging Service</h1>
      </header>
      <main>
        <section>
          <h2>About Our Service</h2>
          <p>
            This is a web application that provides Name Entity Recognition
            (NER) and Part of Speech (POS) Tagging for text input in Bengali
            language. Developed by
            <a href="https://github.com/1666sApple">1666sApple</a> as part of
            the Bangla-NER project. <br />
            <br />
            The project uses the Bangla-NER model, a pre-trained
            xml-roberta-base model for the Bengali language. <br />
            <br />
            Trained on a dataset of Bengali text containing about 7000
            sentences, it accurately identifies and classifies named entities
            and parts of speech. <br />
            <br />
            The model has achieved a POS Precision of about 93% and NER
            Precision of about 92% on the test data. <br />
            <br />
          </p>
        </section>
        <section>
          <h2>Features</h2>
          <ul>
            <li>
              Named Entity Recognition: Identify and classify named entities in
              Bengali text.
            </li>
            <li>
              Part of Speech Tagging: Determine the grammatical parts of speech
              for each word.
            </li>
          </ul>
        </section>
        <section>
          <h2>Try It Out</h2>
          <form id="predictionForm">
            <textarea
              id="inputSentence"
              rows="4"
              placeholder="Enter your sentence here..."
            ></textarea>
            <button type="submit">Predict</button>
          </form>
          <div id="result">
            <h2>Prediction Result:</h2>
            <table id="resultTable">
              <thead>
                <tr>
                  <th>Token</th>
                  <th>POS Tag</th>
                  <th>NER Tag</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </section>
      </main>
      <footer>
        <p>&copy; 2024 NER and POS Tagging Service. All rights reserved.</p>
      </footer>
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
  </body>
</html>
