<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NER and POS Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>NER and POS Prediction</h1>
      </header>
      <main>
        <form id="predictionForm">
          <textarea
            id="inputSentence"
            rows="4"
            placeholder="Enter your sentence here..."
          ></textarea>
          <button type="submit">Predict</button>
        </form>
        <div id="result">
          <h2>Prediction Result:</h2>
          <table id="resultTable">
            <thead>
              <tr>
                <th>Token</th>
                <th>POS Tag</th>
                <th>NER Tag</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </main>
      <footer>
        <p>&copy; 2024 NER and POS Prediction. All rights reserved.</p>
      </footer>
    </div>
    <script src="{{ url_for('static', path='/script.js') }}"></script>
  </body>
</html>
